<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gamer Anonymous</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta 
      charset="utf-8"
    />
    <link
      href="stylesheets/fonts.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="stylesheets/layout.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <link
       rel="icon"
       href="favicon.ico"
       type="image/x-icon"
    />
    <link
       rel="shortcut icon"
       href="favicon.ico"
       type="image/x-icon"
    >
    <script src="javascripts/all.js" type="text/javascript">
    </script>
  </head>
  <body>
  <header class="subsection">
    <div class="inner">
      <div class="row">
        <div class="col">
          <div class="avatar-frame">
            <span class="logo"></span>
          </div>
        </div>
        <div class="col right">
          <h1><a href="index.html">Gamer Anonymous</a></h1>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="last"><a href="forums.html">Forums</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section id="content">
    <div class="inner">

      {{ content }}

    </div>
  </section>
  <footer>
    <div class="inner">
      <p>&copy; Gamer Anonymous</p>
    </div>
  </footer>
</body>
</html>
